div.bussinesscard
{ 	
	width: 350px;
  margin: 0 auto;
	border: 1px solid #0000ff;	
}
div.bussinesscard div
{ 
  border: 1px solid black; 
  padding: 10px 
}

h1, h2, h3, h4
{
	margin: 0cm 0cm 0cm 0cm;
	text-align: center;
	font-weight: bold;  
	font-family: "Courier", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}
h1 {
	font-size: 25px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
	font-weight: normal; 	
}
h4 {
	font-weight: normal; 	
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	text-align: justify;		
}

div.footer
{
  width: 100%;
  float: left;  
}
